/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        toggle_colemak-dh {
            bindings = <&tog 1>;
            key-positions = <38 39>;
            layers = <0 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            bindings = <
&trans  &kp Q  &kp W  &kp E   &kp R   &kp T     &kp Y   &kp U   &kp I   &kp O   &kp P   &trans
&trans  &kp A  &kp S  &kp D   &kp F   &kp G     &kp H   &kp J   &kp K   &kp L   &trans  &trans
&trans  &kp Z  &kp X  &kp C   &kp V   &kp B     &kp N   &kp M   &trans  &trans  &trans  &trans
                      &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        colemak-dh {
            bindings = <
&trans  &kp Q  &kp W  &kp F   &kp P   &kp B     &kp J   &kp L   &kp U   &kp Y   &trans  &trans
&trans  &kp A  &kp R  &kp S   &kp T   &kp G     &kp M   &kp N   &kp E   &kp I   &kp O   &trans
&trans  &kp Z  &kp X  &kp C   &kp D   &kp V     &kp K   &kp H   &trans  &trans  &trans  &trans
                      &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
